[submodule "app/models"]
	path = app/models
	url = git@github.com:oyajikun/models.git
[submodule "db/migrate"]
	path = db/migrate
	url = git@github.com:oyajikun/migrate.git
[submodule "vendor/plugins/user_session"]
	path = vendor/plugins/user_session
	url = git://github.com/oyajikun/user_session.git
