[submodule "vendor/plugins/user_session_extender"]
	path = vendor/plugins/user_session_extender
	url = git@github.com:oyajikun/user_session_extender.git
[submodule "vendor/plugins/mobile"]
	path = vendor/plugins/mobile
	url = git@github.com:oyajikun/mobile.git
[submodule "vendor/plugins/crypt"]
	path = vendor/plugins/crypt
	url = git@github.com:oyajikun/crypt.git
[submodule "db"]
	path = db
	url = git@github.com:oyajikun/loctac_db.git
[submodule "app/models"]
	path = app/models
	url = git@github.com:oyajikun/loctac_app_models.git
[submodule "spec/fixtures"]
	path = spec/fixtures
	url = git@github.com:oyajikun/loctac_spec_fixtures.git
[submodule "spec/models"]
	path = spec/models
	url = git@github.com:oyajikun/loctac_spec_models_100829.git
